{%extends "aolayout.twig"%}
{%block title %}
    Search result
{%endblock%}

{%block content %}
    <div style='width: 100%;'>
        <div style='display: table;width: 75%; '>
            {% if msg %}
                <strong>Message: {{msg}}</strong>
            {% endif %}
            {% for r in row %}
                <span>Student id: {{r.vstudent}}</span>
                <div class="result">
                    <p>
                        <span><img src="{{r.c_pic}}" width="100" height="100"/></span>
                    </p>
                    <p>
                        <span class="lbl">Firstname: </span><span class="stext"> {{r.c_fn}}</span> <span class="lbl">Surname:</span><span class="stext">{{r.c_sn}}</span>
                    </p>
                    <p>
                        <span class="lbl">Address: </span><span class="ltext">{{r.c_addr}}</span>
                    </p>
                    <p>
                        <span class="lbl">Gender: </span><span class="stext">{{r.c_gender}}</span> <span class="lbl">Date of Birth: </span><span class="stext">{{r.c_dob}}</span>
                    </p>
                    <p>
                        <span class="lbl">Class: </span><span class="stext">{{r.vclass}}</span>
                        <span class="lbl">Application: </span><span class="stext">{{r.vappid}}</span>
                    </p>
                </div>
                    <span>Guardian Information</span>
                <div class="result">
                    
                    <p>
                        <span class="lbl">Name: </span><span class="ltext"> {{r.g_title | capitalize}} {{r.g_fn | capitalize}} {{r.g_sn | capitalize}}</span>                        
                    </p>
                    <p>
                        <span class="lbl">Address: </span><span class="ltext">{{r.g_addr}}</span>
                    </p>
                    <p>
                        <span class="lbl">Email: </span><span class="ltext">{{r.g_email}}</span>
                    </p>
                    <p>
                        <span class="lbl">Day time Number: </span><span class="stext">{{r.g_dtno}}</span>
                        <span class="lbl">Relationship: </span><span class="stext">{{r.g_rel}}</span>
                    </p>
                </div>
                <!--<div style="border-top: #00dd00 solid thin">-->
                {#  <div style='display: table-row'>
                      <div style='display: table-cell'>{{c.vapplication}}</div>
                      <div style='display: table-cell'>
                          <a href='/admission/transfer/{{c.vapplication}}'><button class="green">Transfer</button></a>
                          <!--<a href='/admission/c/{{c.vapplication}}'><a href='/admission/grant/{{c.vcandidate}}'><button>Grant</button></a>
                              <a href='/admission/c/{{c.vapplication}}'><a href='/admission/deny/{{c.vcandidate}}'><button class="red">Deny</button></a>-->
                                  </div>
                                  <!--</div>-->
                                  </div>#}
            {% endfor %}
            <div>
            <a href="/admission/student/search"><button>Return to <i>Search</i></button></a>
            <a href="/admission/update/{{row[0].vstudent}}"><button class="blue">Update</button></a>
            </div>
        </div>

    </div>
{%endblock %}